<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/Register.css">
  </head>
  <body>
    <%-include('./partials/header.ejs')%><br>
    <h1>ERROR 404</h1>
    <h2><%= message %></h2> 
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre><br>
    <%-include('./partials/footer.ejs')%>
  </body>
</html>