<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil <%= user.name  %> </title>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="icon" href="/img/LogoCircular32x32.png">
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <section style="margin: 10px;">
        <div class="div-contenedorr">
            <div>
                <img src="../img/users/<%= user.avatar %>" alt="Avatar" style="max-width: 300px;border-radius: 10%;margin-bottom: 10px;
                margin-top: 10px;">
            </div>
            <div class="profile-container">
                <h1 style="margin-bottom: 5px;color: var(--azul-fuerte);">Perfil</h1>
                <h3> <span>Nombre: </span> <%= user.name %></h3>
                <h3> <span>Email: </span> <%= user.email %></h3>
                <h3> <span>Direccion: </span> <%= user.direccion %></h3>
            </div>

        </div>
        <br>
        <div class="botones-profile">
            <a href="/users/logout" type="button" class="btn">Cerrar Sesion</a>
            <a href="/users/edit/<%= user.idUser %>" type="button" class="btn">Editar usuario</a>
            <form action="/users/delete/<%= user.idUser %>" method="POST">
                <button type="submit" class="btn">Eliminar usuario</button>
            </form>
        </div>

    </section>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>